<div class="hero-section">
  <div class="hero-left">
    <img src="assets/background-picture.png" alt="FURIA CS Bot" />
    <img src="assets/fallen.webp" alt="Nova Imagem" class="overlay-image" />
  </div>
  <div class="hero-right">
    <h1>FURIA CS Bot</h1>
    <p>Seu assistente oficial para tudo sobre o time de CS da FURIA</p>
  </div>
</div>

<div class="chat-container">
  <div class="chat-box" #chatBox>
    <div *ngFor="let message of messages" class="chat-message" [ngClass]="{ 'from-user': message.isUser, 'from-bot': !message.isUser }">
      <img *ngIf="message.isUser" src="assets/user-avatar.png" alt="User Avatar" />
      <img *ngIf="!message.isUser" src="assets/bot-avatar.png" alt="Bot Avatar" />
      <span>{{ message.text }}</span>
    </div>
  </div>

  <textarea [(ngModel)]="prompt" rows="4" cols="50" placeholder="Digite sua pergunta..." (keyup.enter)="sendMessage()"></textarea><br />
  <button (click)="sendMessage()">Enviar</button>
</div>

